<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>HOME</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700" />
    <link rel="stylesheet" href="./styles/styles.css" />
</head>

<body>
    <div class="container">
        <h1 class="page-conferences"> Conferences in Theoretical Computer Science</h1>
        <nav class="navbar">
            <a href="home.html" class="short-buttonn">Home</a>
            <a href="deadline.html" class="long-button">Deadline ahead</a>
            <a href="running.html" class="long-button">Running conferences</a>
            <a href="about.html" class="short-buttonn">About us</a>
        </nav>
        <!-- list danh sách ở đây -->
        <div class="list-sections">
            <!-- phần từ đâu tiên -->
            <div th:each="hoiNghi: ${listHoiNghi}" class=" section ">
                <div class="section-tab ">
                    <div class="section-info ">
                        <h3><span th:text="${hoiNghi.ShortName}"></span></h3>
                        <p>City, country: <span th:text="${hoiNghi.Position}"></span></p>
                        <p>Start Date: <span th:text="${hoiNghi.StartDate}"></span></p>
                        <p>End Date: <span th:text="${hoiNghi.StartDate}"></span></p>
                    </div>
                    <div class="section-deadline ">
                        <span>
                            <!-- thời gian còn lại đến ngày bắt đầu = đơn vị ngày -->
                            <p th:text="${hoiNghi.deadline}"></p>days</span>
                        <p>Deadline</p>
                        <a th:href="${hoiNghi.WebsiteURL}" target="_blank">Website</a>
                    </div>

                </div>
                <div class="section-more ">
                    <p>List of Papers</p>
                    <div th:each="papers : ${Papers}">
                        <p th:text="${papers.name}"></p>
                    </div>

                </div>
            </div>
        </div>
</body>

</html>