html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input {
    border: none;
}

body {
    width: 144rem;
}

.container {
    box-sizing: border-box;
    padding: 3.9rem 7.6rem 3.822rem 7.5rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.container .page-conferences {
    margin: 0rem 1.3rem 14.7rem 0rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.container .navbar {
    margin: 0rem 17.2rem 14.9rem 17.3rem;
    width: calc(100% - 34.5rem);
    height: 4.6rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    flex-shrink: 0;
}

.container .navbar .short-buttonn {
    margin: 0rem 2.6rem 0rem 0rem;
    width: 14.5rem;
    height: calc(100% - 0rem);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 1rem;
    flex-shrink: 0;
}

.container .navbar .long-button {
    margin-right: 2.6rem;
    width: 29rem;
    height: 100%;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 1rem;
    flex-shrink: 0;
}


/* .container .navbar .group-5-iN9 {
    margin-top: 0rem;
    width: 19.2rem;
    height: calc(100% - 0rem);
    border-radius: 1rem;
    flex-shrink: 0;
}

.container .navbar .group-5-iN9 .group-4-Fcy {
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 1rem;
} */

.container .section {
    margin-bottom: 9.3rem;
    box-sizing: border-box;
    padding: 2.278rem 53.9rem 2.278rem 3.8rem;
    width: 100%;
    height: 28.3rem;
    display: flex;
    align-items: flex-start;
    background-color: #d9d9d9;
    border-radius: 2rem;
    flex-shrink: 0;
}

.container .section .section-info {
    margin-right: 47rem;
    max-width: 14.4rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2102272797;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
}

.container .section .section-info .section-info-sub-0 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
}

.container .section .section-info .section-info-sub-1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
}

.container .section .day-deadline-website--UAH {
    margin-top: 0.0065rem;
    max-width: 9.8rem;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
}

.container .section .day-deadline-website--UAH .day-deadline-website--UAH-sub-0 {}

.container .section .day-deadline-website--UAH .day-deadline-website--UAH-sub-1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
}

.container .group-7-SmK {
    margin-bottom: 9.3rem;
    box-sizing: border-box;
    padding: 2.278rem 53.9rem 2.278rem 3.8rem;
    width: 100%;
    height: 28.3rem;
    display: flex;
    align-items: flex-start;
    background-color: #d9d9d9;
    border-radius: 2rem;
    flex-shrink: 0;
}

.container .group-7-SmK .pca-2023-city-country-date-topic-speakers-article--YZT {
    margin-right: 47rem;
    max-width: 14.4rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2102272797;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
}

.container .group-7-SmK .pca-2023-city-country-date-topic-speakers-article--YZT .pca-2023-city-country-date-topic-speakers-article--YZT-sub-0 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
}

.container .group-7-SmK .pca-2023-city-country-date-topic-speakers-article--YZT .pca-2023-city-country-date-topic-speakers-article--YZT-sub-1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
}

.container .group-7-SmK .day-deadline-website--3uX {
    margin-top: 0.0065rem;
    max-width: 9.8rem;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
}

.container .group-7-SmK .day-deadline-website--3uX .day-deadline-website--3uX-sub-0 {}

.container .group-7-SmK .day-deadline-website--3uX .day-deadline-website--3uX-sub-1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
}

.container .group-7-bJm {
    margin-bottom: 9.3rem;
    box-sizing: border-box;
    padding: 2.278rem 53.9rem 2.278rem 3.8rem;
    width: 100%;
    height: 28.3rem;
    display: flex;
    align-items: flex-start;
    background-color: #d9d9d9;
    border-radius: 2rem;
    flex-shrink: 0;
}

.container .group-7-bJm .pca-2023-city-country-date-topic-speakers-article--fpR {
    margin-right: 47rem;
    max-width: 14.4rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2102272797;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
}

.container .group-7-bJm .pca-2023-city-country-date-topic-speakers-article--fpR .pca-2023-city-country-date-topic-speakers-article--fpR-sub-0 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
}

.container .group-7-bJm .pca-2023-city-country-date-topic-speakers-article--fpR .pca-2023-city-country-date-topic-speakers-article--fpR-sub-1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
}

.container .group-7-bJm .day-deadline-website--aa1 {
    margin-top: 0.0065rem;
    max-width: 9.8rem;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
}

.container .group-7-bJm .day-deadline-website--aa1 .day-deadline-website--aa1-sub-0 {}

.container .group-7-bJm .day-deadline-website--aa1 .day-deadline-website--aa1-sub-1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
}

.container .group-7-aTX {
    margin-bottom: 7.522rem;
    box-sizing: border-box;
    padding: 2.278rem 53.9rem 2.278rem 3.8rem;
    width: 100%;
    height: 28.3rem;
    display: flex;
    align-items: flex-start;
    background-color: #d9d9d9;
    border-radius: 2rem;
    flex-shrink: 0;
}

.container .group-7-aTX .pca-2023-city-country-date-topic-speakers-article--VqP {
    margin-right: 47rem;
    max-width: 14.4rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2102272797;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
}

.container .group-7-aTX .pca-2023-city-country-date-topic-speakers-article--VqP .pca-2023-city-country-date-topic-speakers-article--VqP-sub-0 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
}

.container .group-7-aTX .pca-2023-city-country-date-topic-speakers-article--VqP .pca-2023-city-country-date-topic-speakers-article--VqP-sub-1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
}

.container .group-7-aTX .day-deadline-website--Qqs {
    margin-top: 0.0065rem;
    max-width: 9.8rem;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
}

.container .group-7-aTX .day-deadline-website--Qqs .day-deadline-website--Qqs-sub-0 {}

.container .group-7-aTX .day-deadline-website--Qqs .day-deadline-website--Qqs-sub-1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
}

.container .group-226-ATf {
    margin-left: 93.8rem;
    height: 8.156rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container .group-226-ATf .group-221-hiV {
    margin: 0.4rem 4.507rem 0rem 0rem;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.container .group-226-ATf .indicator1-oWd {
    margin-right: 4.5073rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container .group-226-ATf .indicator1-oWd .item-1-MY9 {
    width: 7.9294rem;
    height: 100%;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.02rem;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #2770ff;
    border-radius: 6.117rem;
    flex-shrink: 0;
}

.container .group-226-ATf .indicator1-oWd .auto-group-pr13-RH7 {
    box-sizing: border-box;
    padding: 2.945rem 0rem 2.945rem 1.812rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container .group-226-ATf .indicator1-oWd .auto-group-pr13-RH7 .item-2-8SR {
    margin-right: 1.8124rem;
    width: 2.2656rem;
    height: 2.2656rem;
    background-color: #d9d9d9;
    border-radius: 1.1328rem;
    flex-shrink: 0;
}

.container .group-226-ATf .indicator1-oWd .auto-group-pr13-RH7 .item-3-33b {
    width: 2.2656rem;
    height: 2.2656rem;
    background-color: #d9d9d9;
    border-radius: 1.1328rem;
    flex-shrink: 0;
}

.container .group-226-ATf .group-222-w8y {
    margin-top: 0.4rem;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}